{
  "parser": "@typescript-eslint/parser",
  "extends": ["next", "plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "quotes": 1,
    "no-unused-vars": "error"
  }
}
